body {
    background-color: red;
    
}

main {
    background-color: gold;
    width: 100vw;
    height: 100vh;
    position: relative;
}


form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: blue;
    position: absolute;
    z-index:-2;
}


.abrir {
    z-index:1;
}