*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.barra{
  background-color: #06090C;
  display: flex;
  align-items: center;
  

}

#teste {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  right: 100px;
  top: 300px  ;
}

p {
  margin-right: 28px;
}

P:hover {
  border-bottom: 2px solid white;
}

.logo{
font-family: "Viaoda Libre", serif;
font-weight: 400;
font-style: normal;
color: white;
padding: 2%;
font-size: 32px;
border-radius: 2px 5px #f1f1f1;

}
.procure_academias_barra{
color: white;
font-family: "Arvo", serif;
font-size: 16px;
}
.listas_de_treinos{
color: white;
font-family: "Arvo", serif;
font-size: 16px;
position: absolute;
left: 370px

}

.produtos{
  color: white;
  font-family: "Arvo", serif;
  font-size: 16px;
  position: absolute;
  left: 540px;
}

.suporte{
  color: white;
  font-family: "Arvo", serif;
  font-size: 16px;
  position: absolute;
  left: 650px;
}

.login {
  width: 200px;
  height: 30px;
  background-color: #8FC84B;
  border-radius: 15px;
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login > p {
  margin: 0;
}


body{
  background-color: #090C11;
}