*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.barra{
  background-color: #06090C;
  display: flex;
  align-items: center;

  .logo{
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #06090C;
  color: white;
  padding: 2%;
  font-size: 32px;
  border-radius: 2px 5px #f1f1f1;

}
.procure_academias_barra{
color: white;
font-family: "Arvo", serif;
font-size: 16px;
}
.listas_de_treinos{
  color: white;
  font-family: "Arvo", serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  left: 200px;
  background-color: aqua;
}
}

body{
  background-color: #090C11;
}
